/* -------------------------------------------------------------------------- */
/* CSS screen >= 1023px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner */
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

/* title */
.title {
    max-width: 1100px;
    width: 100%;
    margin: 1% auto;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-left {
    list-style: none;
    display: flex;
    align-items: center;
}

.title-left li:not(:first-child) {
    padding: 4px;
    background-color: #f0f0f0;
    font-size: 70%;
    border-radius: 10px;
    color: #000;
    margin-left: 8px;
}

.title-left li:not(:first-child):hover {
    animation: bgchange 5s ease infinite;
    cursor: pointer;
    color: #fff;
}

@keyframes bgchange {
    from {
        background-color: #006BA0;
    }

    to {
        background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
}

.forecast {
    display: flex;
    align-items: center;
}

.forecast:hover {
    cursor: pointer;
    margin-right: 3%;
}

.forecast p {
    font-size: 90%;
    margin-right: 4px;
}

.forecast-location {
    font-weight: bold;
}

.forecast img {
    width: 30px;
    height: 30px;
}

/* header */
.header {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.header-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 12%;
    cursor: pointer;
}

.header-logo img {
    width: 100%;
}

.header-logo p {
    font-size: 36%;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.header-list-item {
    list-style: none;
}

.header-item {
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    color: #444;
    margin: 0 7px;
    position: relative;
    cursor: pointer;
}

.header-item>a::before {
    content: "";
    position: absolute;
    top: 36px;
    width: 100%;
    height: 3px;
    background-color: #3399cc;
    display: none;
}

.header-item:hover:not(:last-child) {
    color: #3399cc;
}

.header-item:hover>a::before {
    display: block;
}

.header-search-avatar {
    display: flex;
    align-items: center;
}

.header-search {
    margin-right: 16px;
    cursor: pointer;
    font-size: 24px;
}

.header-search:hover {
    color: #3399cc;

}

.header-avatar {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
}

/* content */
.content {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0 auto 2%;
}

.content-left {
    width: 30%;
    margin-right: 1.5%;
    list-style: none;
    float: left;
    overflow: hidden;
}

.content-left li {
    width: 100%;
    display: inline-block;
    margin: 2% 0;
}

.content-left li img {
    width: 35%;
    float: left;
    margin-right: 2%;
}

.content-left li p {
    /* các thuộc tính này làm lòi ra ngoài */
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; */
}

.content-middle {
    width: 45%;
    display: inline-block;
}

.content-middle-img {
    width: 100%;
}

.content-middle-title {
    font-size: 200%;
    font-weight: 600;
    color: #333;
    margin-top: 2%;
}

.content-middle-title:hover {
    color: #006BA0;
}

.content-middle-description {
    color: #444;
    margin: 2% 0;
}

.content-middle-other {
    color: #333;
    font-weight: bold;
}

.content-middle-other:hover {
    color: #006BA0;
}

.content-right {
    width: 22%;
    margin-left: 1.5%;
    list-style: none;
    float: right;
}

.content-right li {
    margin-bottom: 3%;
}

.content-right li img {
    width: 100%;
    cursor: pointer;
}

.content-right li p {
    font-size: 24px;
    color: #333;
}

.content-right li p:hover {
    cursor: pointer;
    color: #006BA0;
}

/* multimedia */

div.multimedia {
    max-width: 1160px;
    width: calc(100% - 60px);
    background-color: #ffde76;
    padding: 30px;
    /* cannot margin left and right auto with display: inline-block because does not have horizol line */
    display: inline-block;
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%;
    /* Calculates 50% of the element's width, and moves it by that */
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}

ul.multimedia-title {
    list-style: none;
    margin-bottom: 2%;
}

ul.multimedia-title>li {
    display: inline-block;
    font-size: 110%;
    font-weight: 600;
    margin-right: 3%;
    vertical-align: top;
}

.multimedia-title li:first-child {
    color: #000;
    margin-right: 4%;
    font-size: 25px;
    position: relative;
    padding-left: 2%;
}

.multimedia-title li:first-child::before {
    content: '';
    width: 2.5%;
    position: absolute;
    left: 2%;
    top: 18%;
    bottom: 14%;
    background-color: #dd3333;
    transform: skew(-20deg);
}

.multimedia-title li:not(:first-child) {
    color: #333;
}

.multimedia-title li:not(:first-child):hover {
    color: #dd3333;
    cursor: pointer;
}

ul.multimedia-list {
    width: 100%;
    display: inline-block;
    list-style: none;
}

ul.multimedia-list li {
    width: 24%;
    float: left;
    margin-left: 1.5%;
}

ul.multimedia-list li p:nth-child(2):hover {
    color: #006BA0;
    cursor: pointer;
}

ul.multimedia-list li:first-child {
    width: 49%;
    margin-left: 0;
}

ul.multimedia-list li img {
    width: 100%;
}

ul.multimedia-list li p {
    font-size: 120%;
    font-weight: 600;
    color: #333;
    margin: 2% 0;
}

ul.multimedia-list li:first-child h3 {
    font-size: 140%;
    color: #333;
}

ul.multimedia-list li:first-child h3:hover {
    cursor: pointer;
    color: #006BA0;
}

ul.multimedia-list li img:hover {
    cursor: pointer;
}

/* books */
.books {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 2% auto;
    position: relative;
}

.books-header {
    font-size: 140%;
    color: #000;
    font-weight: 600;
    padding-bottom: 1%;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 20px;
}

.books-header::before {
    content: '';
    position: absolute;
    width: 5px;
    top: 6px;
    left: 5px;
    bottom: 14px;
    transform: skew(-20deg);
    background-color: #dd3333;
}

.books-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin-top: 2%;
    position: relative;
}

.books-list>li {
    width: 19%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.books-list>li:hover {
    cursor: pointer;
}

.books-list>li:hover>p {
    color: #006BA0;
}

.books-list>li>img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.books-list>li>p {
    font-size: 120%;
    color: #333;
    font-weight: 600;
    padding: 2%;
}

.arrow button:hover {
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #c8cbd0;
    z-index: 1;
    top: 56%;
    left: -1.5%;
}

.arrow-right {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #c8cbd0;
    z-index: 1;
    top: 56%;
    right: -1.5%;
}

/* news */
.news {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 30px auto;
}

ul.news-list {
    width: 70%;
    list-style: none;
    /* đóng gói block lại, k ảnh hưởng bên dưới */
    display: inline-block;
}

li.news-list-item {
    float: left;
    padding: 2% 0;
    width: 100%;
}

li.news-list-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

li.news-list-item img {
    width: 33%;
    height: 22%;
    float: left;
    margin-right: 2%;
}

li.news-list-item h3 {
    font-size: 130%;
    color: #333;
}

li.news-list-item p {
    color: #888;
    font-size: 100%;
    margin-top: 1%;
}

/* news right */

.news-right {
    width: 28%;
    /* display: inline-block; */
    float: right;
    /* vertical-align: top; */
    margin-left: 2%;
}

.news-right-ads img {
    width: 100%;
    object-fit: cover;
}

/* read most */
.read-most {
    width: 100%;
    margin: 4% 0 4% 2%;
    padding: 4%;
    border: 1px solid #f0f0f0;
}

p.read-most-title {
    font-size: 100%;
    color: #000;
    font-weight: 600;
    margin-bottom: 1%;
}

ul.read-most-list {
    list-style: none;
}

ul.read-most-list li {
    margin: 4% 0;
}

ul.read-most-list li p:nth-child(2) {
    font-size: 50%;
    color: #666;
    margin-left: 1%;
    margin-bottom: 2%;
}

ul.read-most-list li p:nth-child(3) {
    font-size: 90%;
    font-weight: 600;
    color: #333;
}

ul.read-most-list li img {
    width: 72px;
    height: 72px;
    border-radius: 3px;
    object-fit: cover;
    float: left;
    margin-right: 4%;
}

.podcast {
    width: 100%;
    padding: 2% 3% 3%;
    background-color: #2f2f3f;
    color: #fff;
    position: relative;
}

.podcast>p {
    text-align: center;
    margin-bottom: 8px;
}

.podcast-title-img {
    width: 40%;
    margin: 0 30%;
    object-fit: cover;
    margin-bottom: 2%;
}

.podcast-main-img {
    width: 90%;
    margin: 0 5%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 2%;
}

ul.podcast-list li {
    list-style: none;
    /* width: 100%; */
    display: inline-block;
    padding: 5% 0;
    margin: 0 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

ul.podcast-list li img {
    width: 72px;
    height: 49px;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
}

.podcast-list>li>p {
    font-size: 70%;
    text-align: left;
}

/* lifestyle */
.lifestyle {
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 30px auto;
}

.lifestyle-header {
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 20px;
}

.lifestyle-header::before {
    content: '';
    position: absolute;
    width: 5px;
    top: 6px;
    left: 5px;
    bottom: 14px;
    transform: skew(-20deg);
    background-color: #dd3333;
}

.lifestyle-left-list {
    width: 74%;
    margin-top: 10px;
    list-style: none;
    float: left;
}

.lifestyle-left-list>li {
    width: 32%;
    display: inline-block;
    margin: 2% 2% 2% 0;
}

.lifestyle-left-list>li>p {
    font-size: 80%;
    color: #333;
    margin-top: 4px;
}

.lifestyle-left-list>li:first-child {
    width: 64%;
    float: left;
}

.lifestyle-left-list>li:first-child>h3 {
    margin: 10px 0;
    font-size: 140%;
    color: #333;
}

.lifestyle-left-list>li:not(:first-child)>p {
    font-weight: 600;
}

.lifestyle-left-list>li:not(:first-child)>p:hover {
    color: #006BA0;
    cursor: pointer;
}

.lifestyle-left-list>li:first-child>h3:hover {
    color: #006BA0;
    cursor: pointer;
}

.lifestyle-left-list>li:first-child>p {
    font-size: 18px;
    color: #444;
    margin-top: 8px;
}

.lifestyle-left-list>li>img {
    width: 100%;
}

ul.lifestyle-right-list {
    width: 26%;
    padding-left: 1%;
    margin-top: 2%;
    list-style: none;
    float: right;
    border-left: 1px solid #eee;
}

ul.lifestyle-right-list>li {
    display: inline-block;
    padding: 1% 0;
    border-bottom: 1px solid #eee;
}

ul.lifestyle-right-list>li>p {
    float: left;
    width: 69%;
    color: #333;
    font-size: 100%;
    font-weight: 600;
}

ul.lifestyle-right-list>li>p:hover {
    cursor: pointer;
    color: #006BA0;
}

ul.lifestyle-right-list>li>img {
    width: 72px;
    height: 72px;
    border-radius: 3px;
    float: right;
}

/* banner-ad */

.banner-ad {
    max-width: 970px;
    width: 100%;
    display: block;
    margin: 0px auto;
}

.banner-ad>img {
    width: 100%;
    margin: 30px 0;
    display: inline-block;
    height: 25%;
}

/* other news */
.other-news {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    border-top: 2px solid #000;
}

ul.other-news-list {
    list-style: none;
    width: 23%;
    display: inline-block;
    vertical-align: top;
}

ul.other-news-list>h3 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-left: 6%;
    margin: 8% 0;
}

ul.other-news-list>h3::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    top: 3px;
    bottom: 3px;
    transform: skew(-20deg);
    background-color: #dd3333;
    margin-right: 20px;
}

ul.other-news-list li {
    width: 100%;
}

ul.other-news-list li img {
    width: 100%;
}

ul.other-news-list li:nth-child(2) p {
    font-size: 120%;
    color: #333;
    font-weight: 600;
    margin-bottom: 2%;
}

ul.other-news-list li:nth-child(2) img:hover {
    cursor: pointer;
}

ul.other-news-list li:nth-child(2) p:hover {
    color: #006BA0;
    cursor: pointer;
}

ul.other-news-list li:not(:nth-child(2)) {
    display: inline-block;
    padding: 4% 0;
    border-top: 1px solid #eee;
}

ul.other-news-list li:not(:nth-child(2)) img {
    width: 40%;
    float: left;
    margin-right: 2%;
}

ul.other-news-list li:not(:nth-child(2)) p {
    font-size: 90%;
    color: #333;
    font-weight: bold;
}

ul.other-news-list li img:hover {
    cursor: pointer;
}

ul.other-news-list li p:hover {
    cursor: pointer;
    color: #006BA0;
}

/* magazine -----------------------------------*/
.magazine {
    width: 100%;
    display: block;
    background-color: #eee;
    padding: 30px 0;
}

.magazine-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.magazine-container>h3 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-left: 2%;
    margin-bottom: 2%;
}

.magazine-container>h3::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    top: 3px;
    bottom: 3px;
    transform: skew(-20deg);
    background-color: #dd3333;
    margin-right: 20px;
}

ul.magazine-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul.magazine-list li {
    width: 24%;
    height: 435px;
    display: inline-block;
    position: relative;
}

ul.magazine-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

ul.magazine-list li h3 {
    font-size: 80%;
    width: 42%;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffde76;
    position: absolute;
    top: 0;
    left: calc(50% - 42%/2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul.magazine-list li p {
    font-size: 100%;
    color: #fff;
    padding: 0 5%;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 225px;
}

ul.magazine-list li p::before {
    content: '';
    display: block;
    margin: 0 auto 8%;
    width: 25%;
    height: 5px;
    background-color: #ffde76;
}

ul.magazine-list li button {
    width: 48px;
    height: 48px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 6%;
    left: calc(50% - 48px/2);
}

ul.magazine-list li button i {
    color: #ffde76;
    font-size: 100%;
}

.magazine-arrow {
    position: relative;
}

.magazine-arrow>button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #c8cbd0;
    position: absolute;
    bottom: 200px;
}

.magazine-arrow-left {
    left: -5%;
}

.magazine-arrow-right {
    right: -5%;
}

/* video -------------------------------------------*/

.video {
    max-width: 1100px;
    width: 100%;
    margin: 30px auto;
    display: inline-block;
    /* center inline-block */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.video>h3 {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-left: 2%;
    margin-bottom: 2%;
}

.video>h3::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    top: 3px;
    bottom: 3px;
    transform: skew(-20deg);
    background-color: #dd3333;
    margin-right: 2%;
}

.video-main {
    width: 70%;
    height: 450px;
    float: left;
}

ul.video-list {
    list-style: none;
    width: 30%;
    height: 450px;
    display: inline-block;
    padding: 1%;
    background-color: #eee;
    overflow-y: scroll;
}

ul.video-list li {
    display: inline-block;
    width: 100%;
}

ul.video-list li:not(:first-child) {
    margin-top: 4%;
}

ul.video-list li iframe {
    width: 35%;
    float: left;
    margin-right: 2%;
}

ul.video-list li p {
    font-size: 80%;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

ul.video-list li h5 {
    font-size: 60%;
    color: #888;
    margin-top: 2%;
    text-transform: uppercase;
}

ul.video-list li h5:hover {
    color: #006BA0;
    cursor: pointer;
}

/* bottom-news */

.bottom-news {
    max-width: 1100px;
    width: 100%;
    margin: 30px auto;
    border-top: 2px solid #006BA0;

    display: inline-block;
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%;
    /* Calculates 50% of the element's width, and moves it by that */
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}

ul.bottom-news-list {
    list-style: none;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}

ul.bottom-news-list li {
    width: 24%;
    display: inline-block;
}

ul.bottom-news-list li h3 {
    font-size: 90%;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul.bottom-news-list li h3:hover {
    cursor: pointer;
}

ul.bottom-news-list li img {
    width: 100%;
    height: 172px;
}

ul.bottom-news-list li img:hover {
    cursor: pointer;
}

ul.bottom-news-list li img:hover h5 {
    cursor: pointer;
    color: #006BA0;
}

ul.bottom-news-list li h5 {
    font-size: 90%;
    font-weight: 600;
    color: #333;
    margin: 2% 0;
}

ul.bottom-news-list li p {
    font-weight: 600;
    font-size: 80%;
    color: #333;
    padding: 10px 0;
    border-top: 1px solid #f4f4f4;
}

/* footer */

.footer {
    width: 100%;
    background-color: #f7f7f7;
    color: #888;
    font-size: 12px;
}

ul.footer-list {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul.footer-list li img {
    width: 20%;
}

ul.footer-list li p {
    line-height: 180%;
}

ul.footer-list li p span {
    color: #888;
    font-weight: 600;
    padding: 0 2%;
}

ul.footer-list li p span:hover {
    cursor: pointer;
}

ul.footer-list li p span:first-child {
    padding-left: 0;
}

ul.footer-list li p span:not(:last-child) {
    border-right: 2px solid #888;
}

/* ------------------------------------------------------------------------ */
/* TABLET SCREEN */
@media only screen and (max-width: 1023px) {

    /* title */
    .title {
        display: none;
    }

    /* banner */
    .banner {
        display: none;
    }

    /* header */
    ul.header-list-item li:not(:last-child) {
        display: none;
    }

    li.header-logo {
        order: 2;
    }

    li.header-search-avatar {
        order: 3;
    }

    /* content */
    .content {
        margin-top: 0;
    }

    .content-left {
        width: 40%;
        /* margin-left: 2%; */
        margin-right: 0;
        float: right;
    }

    .content-left li:first-child {
        margin-top: 0;
    }

    .content-middle {
        width: 58%;
        float: left;
    }

    .content-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-top: 2%;
    }

    .content-right li {
        width: 49%;
    }

    /* multimedia */

    ul.multimedia-list li {
        width: 49%;
        margin-left: 0;
    }

    ul.multimedia-list li:first-child {
        width: 100%;
    }

    ul.multimedia-list li:first-child p {
        margin-bottom: 2%;
    }

    ul.multimedia-list li:nth-child(3),
    ul.multimedia-list li:nth-child(5) {
        margin-left: 2%;
    }

    ul.multimedia-title li:not(:first-child) {
        display: none;
    }

    /* books */
    .books-list>li {
        width: 24%;
    }

    .books-list>li:last-child {
        display: none;
    }

    /* news */
    ul.news-list {
        width: 100%;
    }

    .news-right {
        display: none;
    }

    /* books */
    .arrow-left,
    .arrow-right {
        display: none;
    }

    /* lifestyle */
    .lifestyle-left-list {
        width: 100%;
    }

    .lifestyle-left-list li {
        width: 30%;
        margin: 2% 0;
    }

    .lifestyle-left-list li:first-child {
        width: 68%;
        margin-right: 2%;
    }

    ul.lifestyle-right-list {
        width: 100%;
        /* display: inline-block; */
        border-left: none;
        padding-left: 0;
        /* float: none; */
    }

    ul.lifestyle-right-list li {
        width: 49%;
        vertical-align: bottom;
    }

    ul.lifestyle-right-list li:nth-child(even) {
        float: right;
        margin-left: 2%;
    }

    ul.lifestyle-right-list li:last-child {
        display: none;
    }

    ul.lifestyle-right-list li p {
        width: 80%;
    }

    ul.lifestyle-right-list li img {
        display: none;
    }

    /* banner-ad */
    .banner-ad {
        display: none;
    }

    /* other news */
    .other-news {
        display: inline-block;
    }

    ul.other-news-list {
        width: 48%;
        /* float: left; */
    }

    ul.other-news-list:nth-child(even) {
        float: right;
    }

    ul.other-news-list li img {
        width: 40%;
        float: left;
        margin-right: 2%;
    }

    ul.other-news-list li:nth-child(2) {
        display: inline-block;
        padding-bottom: 4%;
    }

    ul.other-news-list li:nth-child(2) p {
        font-size: 90%;
        color: #333;
        margin-bottom: 0;
    }

    /* magazine */
    ul.magazine-list li {
        width: 32%;
    }

    ul.magazine-list li:last-child {
        display: none;
    }

    .magazine-arrow-right {
        display: none;
        /* right: -2%; */
    }

    .magazine-arrow-left {
        display: none;
        /* left: -2%; */
    }

    /* video */

    .video-main {
        width: 100%;
        float: unset;
    }

    .video-main iframe {
        width: 100%;
    }

    ul.video-list {
        width: 100%;
        height: unset;
        /* display: inline-block; */
        display: flex;
        justify-content: space-between;
        background-color: #333;
        overflow-y: unset;
    }

    ul.video-list li {
        width: 24%;
    }

    ul.video-list li:not(:first-child) {
        margin-top: 0;
        margin-left: 1%;
    }

    ul.video-list li iframe {
        width: 100%;
        height: 136px;
        margin-bottom: 4%;
    }

    ul.video-list li:nth-child(5),
    ul.video-list li:nth-child(6),
    ul.video-list li:nth-child(7) {
        display: none;
    }

    /* bottom-news */

    ul.bottom-news-list {
        display: inline-block;
    }

    ul.bottom-news-list li {
        width: 49%;
    }

    ul.bottom-news-list li:nth-child(odd) {
        float: left;
    }

    ul.bottom-news-list li:nth-child(even) {
        float: right;
    }

    ul.bottom-news-list li img {
        height: 280px;
    }

}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* MOBILE SCREEN */
@media only screen and (max-width: 719px) {

    /* header */
    .header-avatar {
        display: none;
    }

    /* multimedia */
    div.multimedia {
        display: none;
    }

    /* content */
    .content {
        display: flex;
        flex-direction: column;
    }

    .content-middle {
        width: 100%;
        order: 1;
    }

    .content-left {
        width: 100%;
        display: inline-block;
        order: 3;
    }

    .content-right {
        width: 100%;
        order: 2;
    }

    /* books */
    .books-list>li {
        width: 32.33%;
    }

    .books-list>li:nth-child(4),
    .books-list>li:last-child {
        display: none;
    }

    /* lifestyle */

    ul.lifestyle-left-list li {
        width: 49%;
        /* display: inline-block; */
    }

    ul.lifestyle-left-list li img {
        height: 100%;
    }

    ul.lifestyle-left-list li:first-child {
        width: 100%;
    }

    ul.lifestyle-right-list {
        width: 100%;
    }

    ul.lifestyle-right-list li {
        width: 100%;
    }

    ul.lifestyle-right-list li p {
        width: 100%;
    }

    /* other-news */
    ul.other-news-list:nth-child(even) {
        float: unset;
    }

    /* magazine */
    ul.magazine-list li {
        width: 49%;
    }

    ul.magazine-list li:nth-child(3),
    ul.magazine-list li:last-child {
        display: none;
    }

    .magazine-arrow-right {
        right: -2%;
    }

    .magazine-arrow-left {
        left: -2%;
    }

    /* video */
    .video {
        display: none;
    }

    /* bottom-news */
    ul.bottom-news-list li img {
        height: 140px;
    }

    /* footer */
    ul.footer-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* MOBILE SIZE <= 400 px */
@media only screen and (max-width: 400px) {
    .content {
        padding: 2%;
    }

    .lifestyle {
        padding: 2%;
    }

    /* other-news */
    .other-news {
        padding: 2%;
    }

    /* books */
    .books {
        padding: 2%;
    }

    .books-list li {
        display: none;
    }

    .books-list li:first-child {
        display: block;
        width: 100%;
    }

    .books-list li:first-child img {
        height: 80%;
    }

    /* news */
    .news {
        padding: 2%;
    }

    /* magazine */
    ul.magazine-list li {
        display: none;
    }

    ul.magazine-list li:first-child {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .magazine-container>h3 {
        margin-left: 5%;
    }

    /* bottom-news */
    ul.bottom-news-list {
        padding: 2%;
    }
}