* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active-title {
    background-color: #78b43d !important;
    color: white;
    font-weight: bold;
}

.active-title:hover {
    color: black !important;
}

.deep-blue {
    background-color: #d5ecab;
}

.light-blue {
    background-color: #eaf8d2;
}

/* container */

.container {
    width: 1004px;

    /* dua theh nay ra giua man hinh  */
    display: block;
    margin: 0 auto;

}

/* child content */

.content-left {
    width: 699px;
    float: left;
}

.left {
    width: 347px;
    float: left;
    margin-top: 4px;
}

.right {
    width: 347px;
    float: right;
    margin-top: 4px;

}

.header li {
    display: inline-block;
    font-size: 14px;
    background-color: #ccc;
    padding: 2px;
    border-radius: 4px;
}

.header li:hover {
    cursor: pointer;
    color: #78b43d;
}

.title {
    font-size: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title:hover {
    cursor: pointer;
    color: #78b43d;
}

.content {
    display: inline-block;
    width: 100%;
}

.content-image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 4px;
}

.content-detail {
    font-size: 14px;
    /* display ... when have 4 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.content-detail span:hover {
    text-decoration: underline;
}

.others-news {
    margin-top: 4px;
}

.scroll-y-others-news {
    overflow-y: scroll;
    height: 70px;
}

.others-news li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.others-news li:hover {
    cursor: pointer;
    color: #78b43d;
}

.advert-img {
    width: 100%;
    height: 258px;
}

/* right content */

.content-right {
    width: 300px;
    float: right;
}

.market-news-title {
    text-transform: uppercase;
    color: #78b43d;
}

.line {
    border-bottom: 2px solid #78b43d;
    margin: 4px 0;
}

.market-news-lists {
    list-style: none;
}

.market-news-lists li {
    display: inline-block;
    margin: 4px 0;
}

.market-news-lists li img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 8px;
}

.market-news-lists li p {
    font-size: 14px;
}

.stocks-market {
    margin-top: 10px;
}

.stocks-market-title {
    text-transform: uppercase;
    color: #78b43d;
}

.stocks-market-table {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 4px 0;
    font-size: 14px;

}

.stocks-market-table td {
    padding: 4px;
}

.stocks-international {
    list-style: none;
    margin-bottom: 8px;
}

.stocks-international li {
    display: inline-block;
    padding: 6px;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-size: 16px;

}

.stocks-international li:hover {
    cursor: pointer;
}

.stocks-international li:first-child {
    margin-right: 30px;
}

.stocks-international li:last-child {
    float: right;
}

.stocks-news li {
    display: inline-block;
    margin: 4px 0;
}

.stocks-news li img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 8px;
}

/* for ladies */

.for-ladies-title {
    text-transform: uppercase;
    color: #d2577e;
}

.for-ladies-line {
    border-bottom: 2px solid #d2577e;
    margin: 4px 0;
}

.for-ladies-list {
    display: inline-block;
    margin: 4px 0;
}

.for-ladies-list li {
    list-style: none;
}

.for-ladies-list li img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 8px;
}

.for-ladies-list li p {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.for-ladies-news li {
    font-size: 14px;
    padding: 4px;
    list-style: none;
}

.for-ladies-news li::before {
    content: "•";
    color: #d2577e;
    display: inline-block;
    width: 1em;
}

.for-ladies-pages {
    list-style: none;
    margin: 4px 0;
    display: flex;
    justify-content: center;
}

.for-ladies-pages li {
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 4px 10px;

}

.for-ladies-pages li+li {
    margin-left: 4px;
}

.for-ladies-pages li:hover {
    color: #d2577e;
    cursor: pointer;
}

.for-ladies-pages .active {
    color: #fff;
    background-color: #d2577e;
    border-color: #d2577e;
}

.for-ladies-pages .active:hover {
    color: #fff;
}

/* Video */

.select-videos {
    margin: 20px 0;
    display: inline-block;
}


.video-title {
    text-transform: uppercase;
    color: #78b43d;
    
}

.video-line {
    margin: 8px 0;
    border-bottom: 2px solid #78b43d;
}

.video-left {
    width: 400px;
    float: left;
    /* padding-left: 4px; */
}

.main-video {
    width: 380px;
    height: 300px;
}

.main-video-title {
    margin: 4px 0;
}

.main-video-description {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-right {
    width: 295px;
    float: right;
    border-left: 2px solid #f2f2f2;
}

.other-videos-list {
    overflow-y: scroll;
    height: 304px;
}

.other-videos-list li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 10px;
}

.other-videos-list li iframe {
    float: left;
    margin-right: 4px;
}

.other-videos-list li p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.other-videos-list video {

}