* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news-container {
    width: 699px;
    
}

.left {
    width: 347px;
    float: left;
}

.left-img-advert {
    width: 347px;

}

.right {
    width: 347px;
    float: right;
}

.header {

}

.header li {
    display: inline-block;
    font-size: 14px;
    background-color: #ccc;
}

.header li:first-child {
    background-color: green;
    color: white;
    font-weight: bold;
}

.title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.content {
    display: inline-block;
    width: 100%;
}

.content-image {
    width: 100px;
    height: 100px;
    float: left;
}

.content-detail {
    font-size: 14px;
}

.others-news {
    margin-top: 4px;

}

.others-news li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(111, 170, 111);
    font-size: 14px;

}

.others-news li:nth-child(4), li:nth-child(5) {
    background-color: rgb(70, 180, 70);
}

.advert-img {
    width: 100%;
    height: 100%;
}