#page-header.cart-header {
    background-image: url('./img/about/banner.png');
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table thead {
    border-bottom: 1px solid #e2e9e1;
}

#cart table thead th {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table img {
    width: 70px;
}

#cart table td {
    text-align: center;
    width: 150px;
}


#cart table td:nth-child(1) {
    width: 100px;
}

#cart table td:nth-child(3) {
    width: 250px;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table tbody tr td {
    padding-top: 15px;
}